body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.tabs {
    background-color: #333;
    overflow: hidden;
}

.tabs button {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.tabs button:hover {
    background-color: #777;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
}

form {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input,
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#searchTab {
    background-color: #f9f9f9;
    padding: 20px;
}

#searchFilters {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#searchFilters label,
#searchFilters input,
#searchFilters button {
    display: inline-block;
    margin-bottom: 10px;
}

#searchResults div {
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#searchResults hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ddd;
}
